{% extends 'Core/base.html' %}
{% load static %}

{% block title %}xlartas | example{% endblock %}

{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_og_description %}{% endblock %}
{% block meta_twitter_description %}{% endblock %}

{% block content %}
    <div id="content" class="container flex-grow-1"
         data-bs-theme="dark">
        <div class="row p-3 pt-2 my-3 overflow-x-hidden">
            <h1 class="text-white fs-1 fw-bold text-center mb-3 mt-5">Example Page</h1>

        </div>
    </div>
{% endblock %}
