{% extends 'Core/base.html' %}
{% load static %}

{% block title %}xlartas | example{% endblock %}

{% block meta_keywords %}{% endblock %}
{% block meta_description %}{% endblock %}
{% block meta_og_description %}{% endblock %}
{% block meta_twitter_description %}{% endblock %}

{% block content %}
    <div id="content" class="container d-none  fcc flex-grow-1"
         data-bs-theme="dark" style="max-width: 500px;">
        <div class="row p-3 pt-2 my-3 disable-tap-and-selection overflow-x-hidden">
            <h1 class="text-white fs-1 fw-bold text-center mb-3">Example Page</h1>

        </div>
    </div>
{% endblock %}
